nav {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    color: #212832;
    font-size: 17px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

nav img {
    width: auto;
    height: 53px;
    margin-right: 100px;
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    align-content: center;
}

nav button {
    background-color: #faf8f800;
    color: #212832;
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    width: 200px;
}